
/* header */
.ms_bg-navbar{
    /* height: 90px; */
    background-color: #2c3e50;
}

/* jumbo */
#jumbotron,
#about {
    background-color: #1abc9c;
}

.ms_footer-top {
    background-color: #3a546d;
}

.ms_footer-bottom {
    height: 100px;
    background-color: #2c3e50;
}



/* debug */

.debug .box {
    height: 90px;
    background-color: lightgreen;
    border: 1px solid black;
}

.debug #jumbotron {
    height: 500px;
}